@import '~antd/dist/antd.css';

.container{
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

.title{
  margin: 20px auto;
}

.item{
  margin-bottom: 15px;
}


h4,h5{
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo;
}


form{
  margin:0 auto;
}

button {
  width: 100%;
}
